<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>전국의 라멘가게를 찾아서</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      라멘 맛집 블로그
    </header>
    <nav>
      <div>
        <img src="/static/images/songyunseop.jpeg" alt="" width="180px">
        <p>전국의 일본 라멘 맛집을 전부 가는 것이 목표</p>
      </div>
      <div>
        <ul>
          <li>홍대</li>
          <li>강남</li>
        </ul>
      </div>
    </nav>
    <section>
      <div>
        <a href="#">
          <div class="card">
            <div class="store_location">홍대</div>
            <div class="store_name">라멘트럭</div>
          </div>
        </a>
      </div>
      <div>
        <a href="#">
          <div class="card">
            <div class="store_location">홍대</div>
            <div class="store_name">라멘트럭</div>
          </div>
        </a>
      </div>
      <div>
        <a href="#">
          <div class="card">
            <div class="store_location">홍대</div>
            <div class="store_name">라멘트럭</div>
          </div>
        </a>
      </div>
      <div>
        <a href="#">
          <div class="card">
            <div class="store_location">홍대</div>
            <div class="store_name">라멘트럭</div>
          </div>
        </a>
      </div>
    </section>
    <aside>
      <span style="float:left;">1</span>
      <span style="float:left;clear:left;">2</span>
      <span style="float:left;">3</span>
      <span style="float:left;">4</span>

    </aside>
  </body>
</html>
